# .env.example - Werte bitte anpassen
DB_PATH=/app/data/sensor.db

# InfluxDB
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=passwort123
DOCKER_INFLUXDB_INIT_ORG=fi407
DOCKER_INFLUXDB_INIT_BUCKET=temperaturen
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=mein-token