# Sensor Info
SENSOR_ID=1
SENSOR_NAME=BME280
SENSOR_LOCATION=Serverraum
SENSOR_INTERVAL=10

# Temperatur Steuerung
TEMP_THRESHOLD=27.0
# TEMP_SOURCE=mock
TEMP_MOCK_VALUE=28.5

# GPIO Pins
HARDWARE_ENABLED=true
# HARDWARE_ENABLED=false
RELAY_PIN=17
PWM_PIN=18
PWM_FREQ=25000

# Datenpfad
DATA_PATH=/app/data/sensor_data.csv