# Sensor Info
SENSOR_ID=1
SENSOR_NAME=BME280
SENSOR_LOCATION=Serverraum
SENSOR_INTERVAL=10

# Temperatur Steuerung
HARDWARE_ENABLED=true
# HARDWARE_ENABLED=True | only for testing
TEMP_THRESHOLD=27.0
TEMP_SOURCE=command
# TEMP_SOURCE=mock | to test with test mock source inputs
TEMP_COMMAND=cat /sys/bus/iio/devices/iio:device0/in_temp_input

# GPIO Pins
RELAY_PIN=17
PWM_PIN=18
PWM_FREQ=25000

# Datenpfad
DATA_PATH=/app/data/sensor_data.json